.link {
  display: flex;
  gap: var(--space-1);
  padding: var(--space-1);
  font-family: var(--font-big-shoulders);
  font-weight: 900;
  letter-spacing: 0.05rem;
}

.link:hover {
  color: var(--teal-12);
}
