@import './themes.css';
@import './sizes.css';

:root {
  --content-max-width: 1280px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-roboto);
}

body {
  overflow-x: hidden;
  color: var(--accent-12);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  font-weight: 500;
}
