.contentWrapper {
  background-image: linear-gradient(var(--accent-2) 1px, transparent 1px),
    linear-gradient(to right, var(--accent-2) 1px, var(--accent-1) 1px);
  background-size: 100px 100px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
  width: 100%;
}

.heroSection {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
  height: 100vh;
  min-height: 500px;
  justify-content: center;
  max-width: var(--content-max-width);
  position: relative;
  width: 100%;
}

.userName {
  margin-bottom: -10px;
}

.userRole {
  font-size: 1.25rem;
  font-weight: 300;
}

.userSummary {
  color: var(--accent-11);
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  width: 100%;
}

.userSocials {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-2);
}

.projectsWrapper {
  width: 100%;
  display: grid;
  gap: var(--space-4);
  grid-template-columns: repeat(2, 1fr);
}

@media only screen and (max-width: 700px) {
  .projectsWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
