.navWrapper {
  margin-top: var(--space-5);
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: center;
  z-index: 200;
}

.navWrapper nav {
  border: 1.5px solid var(--accent-7);
  background-color: var(--accent-4);
  padding: var(--space-2) var(--space-4);
  border-radius: 10px;
}

.navWrapper ul {
  display: flex;
  gap: var(--space-4);
}

.navWrapper ul li {
  list-style: none;
  color: var(--accent-11);
  font-family: var(--font-league-spartan);
}
.navWrapper ul li a {
  transition: 0.3s;
}
.navWrapper ul li a:hover {
  color: var(--teal-12);
}
