.navWrapper {
  display: flex;
  justify-content: center;
  margin-top: var(--space-5);
  position: fixed;
  width: 100%;
  z-index: 200;
}

.navWrapper nav {
  background-color: var(--accent-2);
  border: 1.5px solid var(--accent-3);
  border-radius: 10px;
  padding: var(--space-2) var(--space-4);
}

.navWrapper ul {
  display: flex;
  gap: var(--space-4);
}

.navWrapper ul li {
  color: var(--accent-12);
  font-family: var(--font-big-shoulders);
  list-style: none;
}

.navWrapper ul li a {
  font-size: 1rem;
  letter-spacing: 1px;
  transition: 0.3s;
}

.navWrapper ul li a:hover {
  color: var(--green-12);
}

.navWrapper ul li a:focus {
  color: var(--green-8);
}
